# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Data files (optional: include if dataset is too large or private)
data/
*.csv
*.tsv
*.h5
*.pkl

# Logs
*.log
token.txt
*.docx
*.tmp
.spyproject/config/
open_with_spyder.reg
